extends layout

block content
  script(src='./javascripts/api.js')
  script(src='./javascripts/templates.js')
  script(src='./javascripts/dashboard.js')
  script(src='./javascripts/facebook.js')
  script(src='./javascripts/flow.js')
  header
    h1 Ad Flows
    section.auth
      div.loggedin
        #userEl
        h3 Your Ad Accounts:
        form#adAccountsEl.cards
        button#logoutBtn Logout
      div.loggedout
        p Login with Facebook
        <fb:login-button id="loginBtn" scope="email,manage_pages,publish_pages,pages_messaging,pages_show_list,public_profile,ads_management" onlogin="checkLoginState();">
        </fb:login-button>
  section.loggedin
    a(name="campaigns")
    fieldset
      legend Ad Campaigns:
      form#adCampaignsEl.cards(name="adCampaigns")
    a(name="sets")
    fieldset
      legend Ad Sets:
      form#adSetsEl.cards(name="adSets")
    fieldset
      legend Selection details:
      form#selectionDetailsEl(name="details")
    fieldset
      legend Ads:
      form#adsEl(name="ads")
    a(name="flows")
    fieldset
      legend Flows:
      form#flowsEl(name="flows")
    button#createFlowEl.round-button(title="Add an ad flow") +
  section.modal
    .edit-ad-flow.no-error
      include ./edit-ad-flow
  section.error
    label Errors:
    ul#errorEl
  footer
    <a href="https://internetdefrance.fr">internetdefrance.fr</a>