#flowsEl {
  display: flex;
  flex-wrap: wrap;
}
#flowsEl article {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px;
  flex: 0 0 auto;
      width: 200px;
    min-height: 200px;
}
#flowsEl .head {
      background-color: darkcyan;
    margin: 0;
    color: white;
    padding: 10px;
}
#flowsEl .body {
  padding: 10px;
  flex: auto;
  display: flex;
  flex-direction: column;
}
#flowsEl .body input {
  text-overflow: ellipsis;
}
#flowsEl .body button {
    margin: 10px;
    flex: 1 1 auto;
    background-color: transparent;
    border: 1px solid darkcyan;
    cursor: pointer;
}
#flowsEl .footer {
  display: flex;
}
#flowsEl .footer > * {
  flex: 1 1 auto;
  text-align: center;
  background-color: transparent;
  border: 1px solid;
  margin: 5px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
  line-height: 2;
  padding: 0;
}
