body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}
body > section {
  max-width: 850px;
  margin: auto;
  margin-top: 100px;
}
header {
  background-color: darkcyan;
  height: 35px;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
}
h1 {
  margin: 0;
}
footer {
  text-align: center;
  margin-bottom: 80vh;
}
a[name] {
  display: block;
  height: 100px;
}
body .debug {
  display: none;
}
body.debug .debug {
  display: inherit;
}
.debugForm { margin-top: 15px; }
.debugForm * { cursor: pointer; }
.round-button {
  border-radius: 50%;
  border: 1px solid white;
  height: 40px;
  width: 40px;
  background-color: darkcyan;
  color: white;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.cards > .radiogroup:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px;
}
.cards > .radiogroup ul {
  padding: 0;
}
.cards > .radiogroup li {
  list-style: none;
}
.cards > input[type="radio"]:checked+.radiogroup {
  border-color: darkcyan;
}
.cards > input.hidden {
  display: none;
}
.auth .cards > input[type="radio"]:checked+.radiogroup {
  font-weight: bold;
  color: white;
  border-color: white;
  line-height: 1;
  margin: 0;
  padding: 10px 0;
}
.auth .cards > .radiogroup:hover {
  font-weight: bold;
  box-shadow: none;
  color: white;
}
.auth .cards > .radiogroup {
  width: 100%;
  min-width: inherit;
  border: none;
}
.cards > .radiogroup {
  border: 1px solid black;
  width: 25%;
  margin: 10px 1%;
  padding: 20px 3%;
  min-width: 150px;
  cursor: pointer;
  word-wrap: break-word;
}
.auth {
  position: absolute;
  right: 20px;
  top: 1px;
  border-radius: 50%;
  border: 1px solid black;
  min-height: 22px;
}
.loggedout .auth {
  border-radius: 0;
  margin: 10px;
}
.auth img {
  float: right;
  border: 1px solid black;
  border-radius: 50%;
}
.auth .only-hover {
  display: none;
}
.auth:hover {
  padding: 3px;
  border-radius: 2px;
  background-color: gray;
  padding: 5px 5px 25px 25px;
  overflow-y: auto;
  max-width: 100%;
  min-width: 250px;

  word-wrap: break-word;
  transition: width .1s ease;
}
.auth:hover .only-hover {
  display: inherit;
}
.auth:hover form.only-hover {
  display: flex;
  margin: 0;
  padding: 0;
}
.code {
  font-style: italic;
  font-size: small;
  max-width: 800px;
  width: 50vw;
  margin: auto;
  word-wrap: break-word;
}
a {
  color: #00B7FF;
}
.loading {
  opacity: .5;
}
.loggedout .loggedin {
  display: none;
}
.loggedin .loggedout {
  display: none;
}
.error { display: none; }
body.hasErrors .error { display: inherit; }
body.hasErrors .no-error { display: none; }
.loggedout-message, .error {
  border: darkcyan solid 1px;
  padding: 15px;
}
.empty-message {
  display: none;
  font-size: x-large;
  text-align: center;
  padding: 45px;
  color: darkcyan;
}
body .hasAdAccount, body .hasAdCampaign, body .hasAdSet {display: none;}
body.hasAdAccount .hasAdAccount, body.hasAdCampaign .hasAdCampaign, body.hasAdSet .hasAdSet {display: inherit;}

#flowsEl:empty ~ .empty-message,
#adSetsEl:empty ~ .empty-message,
#adCampaignsEl:empty ~ .empty-message {
  display: inherit;
}
.error {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border: 2px red solid;
  border-bottom: none;
}
.error #errorEl {
  font-style: italic;
  list-style: none;  
}
/* MODALS */
.modal { 
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100vh;
  background-color: #80808066;
  max-width: inherit;
  margin: 0;
}
.edit-ad-flow { 
margin: auto;
width: 500px;
background-color: white;
padding: 5%;
max-width: 95%;
}
.modal, .edit-ad-flow { display: none; }
body.show-edit-ad-flow .edit-ad-flow { display: inherit; }
body.show-edit-ad-flow .modal { display: flex; }
